---
layout: default
title: Pasuruan Dev
---

<!-- banner -->
{% include banner.html %}
<!-- end banner -->

<!-- what we do section -->
<div id="activity" class="row amber darken-2">
  <div class="col s12">
    <h3 class="grey-text text-lighten-5 center-align section-title">What We Do ?</h3>

    <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
      <div class="divider"></div>
    </div>
    <div class="section"></div>
  </div>

  <div class="container grey-text text-lighten-5 activity">
    <div align="center" class="col s12 m4 l4">
      <i class="material-icons">code</i>
      <h5>Sharing Coding</h5>
      Kami saling bertukar dan berbagi ilmu tentang dunia pemrograman.
    </div>
    <div align="center" class="col s12 m4 l4">
      <i class="material-icons">bug_report</i>
      <h5>Bug Fixing</h5>
      Kami saling bertanya dan membantu untuk menyelesaikan error code.
    </div>
    <div align="center" class="col s12 m4 l4">
      <i class="material-icons">laptop_mac</i>
      <h5>Workshop</h5>
      Kami belajar bersama untuk membuat sesuatu yang dapat menjadi manfaat.
    </div>
  </div>
  <!-- end container -->

  <div class="row"></div>
  <div class="row"></div>
</div>
<!-- end what we do section -->

<!-- blog section -->
<div id="blog" class="row">
  <div class="container">
    <h3 class="center-align section-title green-text text-darken-1">Blog</h3>
    <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
      <div class="divider"></div>
    </div>
    <div class="section"></div>

    {% for post in site.posts %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{ post.cover }}" alt="">
          <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" href="{{ post.url }}">
            <i class="material-icons">visibility</i>
          </a>
        </div>
        <div class="card-content">
          <span class="card-title">{{ post.title }}</span>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="row"></div>

    <div class="col s4 offset-s5">
      <a class="btn green darken-1" href="blog.html">SHOW MORE</a>
    </div>

  </div>
</div>
<!-- end blog section -->

<div class="section"></div>

<!-- meetup section -->
<div id="meetup" class="row green darken-1">
  <div class="section"></div>

  <div class="container">
    <h3 class="center-align section-title grey-text text-lighten-4">Meetup</h3>
    <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
      <div class="divider"></div>
    </div>
    <div class="section"></div>

    <div class="col s12 m5 l5">
        <img src="/assets/images/{{ site.data.event.image }}" alt="" width="100%">
    </div>
    <div class="col s12 m7 l7">
        <h4 class="grey-text text-lighten-3">{{ site.data.event.title }}</h4>
        <p class="grey-text text-lighten-4" align="justify">{{ site.data.event.description }}</p>
        <p class="grey-text text-lighten-3">Link: <a class="orange-text text-lighten-1" href="http://bit.ly/pasuruandev2nd">http://bit.ly/pasuruandev2nd</a></p>
    </div>
  </div>

  <div class="row"></div>
  <div class="row"></div>
</div>
<!-- meetup section -->

<div class="section"></div>

<!-- about -->
<div id="about" class="row">
  <div class="container">
    <h3 class="center-align section-title amber-text text-darken-2">About Us</h3>

    <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
      <div class="divider"></div>
    </div>
    <div class="section"></div>

    <div class="col s8 m6 l4 offset-s2 offset-m3 offset-l4">
      <img src="/assets/images/logo.png" alt="pasuruan dev" width="100%">
    </div>

    <div class="col s12">
      <p id="about-us" class="center-align">PasuruanDev merupakan komunitas para pegiat IT di Pasuruan. Kami terdiri dari para pengembang perangkat lunak, praktisi IT, dan pembelajar dalam hal IT yang memiliki passion untuk saling belajar, berkontribusi, dan berbagi, yang menjadi tujuan utama berdirinya komunitas ini. PasuruanDev menjadi tempat berkumpul untuk siapapun yang ingin mengenal dunia IT lebih mendalam, serta mengembangkan jaringan pertemanan.</p>
    </div>
  </div>
</div>
