.banner-slider {
  background-size: cover;
  background-position: 50%;
}

.activity i {
  font-size: 5em;
}

#top-navbar-wrapper {
  height: 32px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#top-navbar a {
  line-height: 0;
  display: inline;
  font-size: x-large;
  color: #FAFAFA;
}

#top-navbar span {
  vertical-align: text-bottom;
}

.padding-8 {
  padding: 8px;
}

div.blog i.material-icons {
  font-size: 8em !important;
  display: block;
}

h3.section-title {
  font-weight: 200;
}

p#about-us {
  font-size: 1.2em;
}

ul#find-us li a {
  font-size: 1.2em;
  font-weight: 200;
}

p.article {
  font-size: 1.2em;
}
