---
layout: default
---

<!-- article header -->
<div class="row green darken-1 grey-text text-lighten-2">
    <div class="container padding-8">
        <h3 class="center-align" style="font-weight: 200;">{{ page.title }}</h3>
        <img src="{{ page.cover }}" alt="" width="100%">
    </div>
</div>
<!-- end article header -->

<!-- article detail -->
<div class="row">
    <div class="container">
        <div class="col s12 l2" style="padding: 0;">
            <div class="section"></div>
            <div class="col l12 m4 s4">
                <img class="circle" src="http://imamsutono.com/images/self.jpg" alt="" width="100%">
            </div>
            <div class="col l12 m8 s8">
                <p class="article" style="margin: 0;">{{ page.author }}</p>
                <p class="grey-text" style="margin-top: 0;">{{ page.author_position }}</p>

                <span>Published</span>
                <br>
                <span class="grey-text">{{ page.date | date_to_string }}</span>
            </div>
            <div class="row"></div>
            <div class="row"></div>
        </div>

        <div class="col s12 l9 offset-l1">
            <blockquote>
                <h5>{{ page.title }}</h5>
            </blockquote>
            {{content}}
        </div>
    </div>
</div>
<!-- end article detail -->

<!-- related article -->
<div class="grey lighten-2">
    <div class="container">
        <div class="row padding-8">
            <h5 class="grey-text text-darken-3">Artikel Terbaru</h5>
            
            {% for post in site.posts %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ post.cover }}" alt="">
                        <a class="btn-floating halfway-fab waves-effect waves-light green darken-1" href="{{ post.url }}">
                            <i class="material-icons">visibility</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ post.title }}</span>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- end related articles -->